<!DOCTYPE html>
<html>
<head>
    <title>Index Vue</title>
    <link rel="stylesheet" href="main.css" />
</head>
<body>
    <!-- Element HTML untuk Vue -->
    <div id="app">
        <p v-if="items.length === 0">No Items</p><!--Menampilkan Item yang kosong-->
        <ul>
            <!--Perulangan-->
            <li v-for="item in items">
                {{item}} <!--Menampilkan data--> - <a href="#" v-on:click="removeItem(item)">Removes</a> 
            </li>
        </ul>
        {{item}}
        <br>
        <input type="text" v-model="item"><!--Input-->
        <input type="button" value="Add Item" v-on:click="addItem">
    </div>
    <!-- Element HTML untuk Vue -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.21/vue.js"></script> 
    <script src="vue.js"></script>
</body>
</html>